<div class="overviewBody">

    <div class="firstDiv">
        <app-company-info></app-company-info>
    </div>

    <div class="rightDiv">
        <div class="rightDivContainer">
            <div class="secondDivMain">

                <div class="secondDiv">
                    <app-overview-finance-highlights></app-overview-finance-highlights>
                </div>

                <div class="secondDiv">
                    <app-overview-employees></app-overview-employees>
                </div>
            </div>
            <div class="thirdDivMain">
                <div class="thirdDiv">
                    
                    <app-overview-recent-news></app-overview-recent-news>
                </div>


                <div class="thirdDiv">
                    <app-overview-company-products></app-overview-company-products>
                </div>
            </div>
        </div>

        <!-- <app-spend-analysis></app-spend-analysis> -->
        <div class="spendDetailsDiv">
            <app-spend-details></app-spend-details>
        </div>
        <app-competitor-details></app-competitor-details>

    </div>
</div>