.overviewBody {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

.rightDiv{
  display: flex;
  width: 100%;
  // gap: 22px;
  flex-direction: column;
}

.rightDivContainer{
  display: flex;
  gap: 22px;
}

.firstDiv {
  width: 30%;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  height: min-content;
}

.secondDivMain {
  width: 50%;
}

.thirdDiv{
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  height: fit-content;
  margin-bottom: 20px;

}

.thirdDivMain{
  width: 50%;
  
}

.secondDiv {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  height: fit-content;
  margin-bottom: 20px;
}

.spendDetailsDiv {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  height: fit-content;
  margin-bottom: 20px;
}

.acquistionsDiv{
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  height: fit-content;
  margin-bottom: 20px;
}
