<div>
    <div class="companyCards">
        <div class="description">
            <div class="title">
                Description
            </div>
            <h3 class="description">
                Zomato provides information, menus and user-reviews of restaurants as well as food delivery options
                from
                partner restaurants
            </h3>
            <span class="view-more-cta">View More</span>
        </div>
    </div>

    <div class="companyCards">
        <h3 class="title">Specialties</h3>

        <div class="specialties">
            <div class="spac-content">Ecommerce</div>
            <div class="spac-content">Technology</div>
            <div class="spac-content">Logistics</div>
            <div class="spac-content">Internet Services</div>
            <div class="spac-content">Online Food Ordering </div>
            <div class="spac-content">Operation</div>
            <div class="spac-content">Digital advertising</div>
            <div class="spac-content">+18</div>
        </div>
    </div>

    <div class="companyCards">
        <h3 class="title">Content Information</h3>

        <div class="email">

            <i class="ph ph-envelope-simple"></i>

            <div class="emailContainer">
                <p>support&#64;clodura.ai</p>
                <p>support&#64;clodura.ai</p>
                <p>support&#64;clodura.ai</p>                    
            </div>
        </div>
    </div>

    <div class="companyCards">
        <h3 class="title">Website</h3>
        <div class="websiteLink">
            www.zomato.com <i class="ph ph-arrow-square-out"></i>
        </div>
    </div>

    <div class="companyCards">
        <h3 class="title">Company Size</h3>
        <div class="companySize">
            <p class="companyInfo">5001-10000</p>
        </div>
    </div>

    <div class="companyCards">
        <h1 class="title">
            HQ Location
        </h1>
        <p class="companyInfo">Haryana, India</p>
    </div>

    <div class="companyCards">
        <h3 class="title">
            Founding Year
        </h3>
        <p class="companyInfo">2016</p>
    </div>

    <div class="companyCards">
        <h3 class="title">
            Ticker Symbol
        </h3>
        <p class="companyInfo">
            NSE: ZOMATO
        </p>
    </div>

    <div class="companyCardsLastDiv">
        <h3 class="title">SIC Code</h3>
        <p class="companyInfo">6467</p>
    </div>
</div>